


.flex-container{
    display: flexbox;
    flex-direction: column;
    
}
body{
    background-color: grey;
}
#header {
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-style:italic;
    text-align: center;
    background-color: rgb(172, 106, 106);
    -ms-flex-align: center;
    margin: 0;
    color: white;
    padding:50px 150px 
    
}
#header-img{
    height: 150px;
    width: 300px;
    
}

#nav-bar{
    font-size: large;
    margin-top: 50px;
}

#video{
text-align: center;
font-style: italic;
color: rgb(230, 187, 187);
padding: 50px;
}

#box{
    background-color: rgb(168, 168, 168);
}

#form{
    text-align: center;
    background-color: gray;
    color: black;
    
}
#media{
    
    background-color: gray;
    color: black;
    padding-left: 50px ;
    padding-top: 75px;
    text-align: center;
    margin-top: -5px;

}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }




